<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="./sprites/sprite.css">
</head>
<body>
<div class="box">this is box</div>
<div class="footer">背景图片</div>
<div class="content">
    <img src="<%= require('./images/psb.jpg')%>"  alt="">
</div>
<div>
    <i class="fa fa-thumbs-up">赞</i>
    <i class="fa fa-thumbs-down">鄙视</i>
</div>
<div class="icon-admin">管理员</div>
<div class="icon-cate">分类</div>
<button id="btn">提交</button>
<!--不需要手写js，js会被动态编译注入到HTML中-->
<!--<script src="./js/index.js"></script>-->
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
</body>
</html>